// utilities
.cursor-pointer {
	cursor: pointer;
}
.cursor-no-drop {
	cursor: no-drop;
	user-select: none;
}
//index
.menuHead {
  flex-direction: row;
  a {
    color: white;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
  .btn-menu {
    border:none;
    background-color: transparent;
    cursor: pointer;
    color:white;
    margin: 0 .4rem;
    padding: 0;
  }
}
.headquarters {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all .3s;
  opacity: 0;
  background-color: rgba(0, 0, 0, .8);
  &::before {
    content: '';
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000f7;
    z-index: -999;
    opacity: 0;
    transition: all .3s ease-in-out;
  }
  &.reload{
    &::before {
      z-index: 999;
      opacity: 1;
    }
  }
  &.open {
    z-index: 9999;
    opacity: 1;
  }
  .btn-close-list-headers {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 100%);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    outline: none;
    z-index: 99;
  }
  .content-row-headquarters {
    overflow: auto;
    max-height: 50%;
  }
  .card {
    opacity: 0;
    margin: .5rem auto;
    animation-name: fadein;
    animation-duration: .3s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    z-index: -1;
  }
  .active-headquarter {
    display: none;
    width: max-content;
    color: white;
    padding: .1rem .3rem;
    background-color: green;
    font-size: .8rem;
    border-radius: 3px;
    line-height: 1rem;
    &.active {
      display: inline-block;
    }
  }
  .no-headquarters {
    font-size: 4rem;
    display: inline-block;
    color: white;
    text-transform: uppercase;
  }
}
// view list tab instrument student
.disabled-tab {
	pointer-events: none;
   background-color: darkgray;
   color: white;
   cursor: no-drop;
}
// view claseStudent
.content-button-view-class-available {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 5rem;
	padding: 0 .5rem;
	button {
		font-size: 20px;
	}
}
.icon-width {
	width: 1.5rem;
}
// professors 
.label-cv {
  display: inline-block;
  padding: .375rem .75rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin: 0;
  color: #272727;
  margin-right: -2px;
  border: 1px solid #656565;
  box-sizing: border-box;
  border-right: 0;
  transition: all .3s ease;
  position: relative;
  &:hover {
    background-color: #003E80;
    border-color: #003E80;
    color: white;
  }
  .one-file {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(calc(-100% - .2rem));
    opacity: 0;
    height: auto;
    max-height: 0;
    width: max-content;
    line-height: 1rem;
    overflow: hidden;
    font-size: .7rem;
    background-color: #003E78;
    color: white;
    text-align: center;
    padding: .2rem 1rem;
    transition: all .3s ease;
  }
}
.file-cv {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  &:valid ~ .label-cv {
    background-color: #003E78;
    color: white;
    .one-file {
      max-height: 300px;
      opacity: 1;
    }
  }
}
.progress-bard-file {
  display: block;
  height: auto;
  max-height: 300px;
  line-height: 1rem;
  padding: .3rem;
  border-radius: 3px;
  display: block;
  width: 0;
  margin-bottom: .5rem;
  transition: all .3s ease;
  overflow: hidden;
  background-color: #0069d9;
  text-align: center;
  color: white;
  font-size: .7rem;
  white-space: nowrap;
  border-radius: 50px;
}
.num-files {
  padding: .3rem .9rem;
  color: white;
  background-color: #003E80;
  border-radius: 3px;
  display: block;
  width: max-content;
  user-select: none;
}
// view horarios
.list-schedule tr > td {
	text-align: center;
	&:first-child {
		text-align: left;
	}
	&:last-child {
		text-align: right;
	}
}
.loader-schedule {
	position: fixed;
   top: 0;
	left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0,0,0,0.75);
   display: flex;
   align-items: center;
   color: white;
   justify-content: center;
   .txt {
   	transform: translateX(45%);
   	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
   }
}
input[type="checkbox"] {
	visibility: hidden;
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	&.head-form:checked + label {
		background-color: #28a745;
		border-color: #28a745;
		color: white;
	}
}
.armor-label {
	font-size: 1.4rem;
   cursor: pointer;
   margin: 0;
   line-height: 1.5;
   user-select: none;
   transition: all .3s;
   font-weight: 500;
   padding: .2rem .8rem;
   border-radius: 8px;
   border: 2px solid black;
   box-sizing: border-box;
   &.active {
		background-color: #28a745;
		border-color: #28a745;
		color: white;
   }
	&.tab-class {
		font-size: 1rem;
	}
}
// bootstrap 
.custom-control-label {
	user-select: none;
}
// calendar 
#control-week .bootstrap-datetimepicker-widget .datepicker-days tbody tr:hover {
    background-color: rgba(0,0,0,0.3);
    color: black;
}
// form .bootstrap-datetimepicker-widget {
//   position: relative;
// }
#control-week .bootstrap-datetimepicker-widget .datepicker-days tbody td:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
}
// datatable
table.dataTable thead th {
    position: relative;
    background-image: none !important;
}
.dataTables_length, .dataTables_filter {
  display: inline-block;
}
.dataTables_filter {
  float: right;
}
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}
table.dataTable thead th.sorting:after {
    content: "\f160";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
    display: none;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
    display: none;
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
    display: none;
}
.dataTables_wrapper input[type="search"] {  
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.paginate_button {
    padding: .2rem .6rem;
    border: 1px solid darkgray;
    background: white;
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin: 0 .2rem;
    border-radius: 3px;
    &:hover {
      color: black;
      text-decoration: none;
    }
    &.previous {
      margin: 0 .5rem;
    } 
    &.disabled {
      background-color: darkgray;
      cursor: no-drop;
    }
    &.current {
      background-color: #272222;
      color: whitesmoke;
    }
}